/* --- Meg and Nina --- */
/* --- CSS file for CRUD --- */

header {
    color: #5e6d70;
    background-color: #e8f0f2;
    padding: 1.5rem;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 1rem;
}

body {
    color: #2f3e46;
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    background-color: #f7fafa;
    padding: 1rem;
    margin: 0;
}

footer {
    color: #5e6d70;
    background-color: #e8f0f2;
    padding: 1.5rem;
    text-align: center;
    border-radius: 8px;
    margin-top: 2rem;
}

h1 {
    color: #2a3d45;
    font-size: 2rem;
    margin-bottom: 0.5em;
    text-align: center;
}

h2 {
    color: #2a3d45;
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

h3 {
    color: #2a3d45;
    font-size: 1rem;
    text-align: center;
}

.message {
    color: #316775;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form label, legend {
    font-weight: 500;
    margin: 0.5rem;
}

form input, select {
    font-size: 1rem;
    border: 1px solid #c2d4d8;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

form input[type="submit"] {
    font-weight: bold;
    font-size: 1rem;
    background-color: #4a90a4;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

/* From flask-starter for simple nav bar */
nav > ul {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
    gap: 12px;
}

nav > ul > li {
    flex: 0 0 auto;
    width: 15em; 
}

nav button, nav a {
    display: block;
    box-sizing: border-box;
    height: 40px;
    padding: 5px;
    color: var(--color-nav-fg);
    border: 2px solid #4a90a4;
    background-color: #80B1BF;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}

nav > ul > li > button , nav > ul > li > a {
    text-align: center;
}

nav button:hover, button:focus, nav a:hover, nav a:focus {
    background-color: var(--color-focus);
}