{% extends "base.html" %}

{% block main_content %}
<h1>Select Movie</h1>

<p>Select an incomplete movie.</p>

<form method=POST action="">
    <fieldset>
        <label for="menu-tt">Movies without release dates or directors:</label>
            <select id="menu-tt" name="menu-tt">
                <option value="none">Choose One</option>
                {% for m in movies %}
                <option value={{m.tt}}>{{m.title}}</option>
                {% endfor %}
            </select>
        <input type="submit" name="submit-btn" value="Choose">
    </fieldset>
</form>

{% endblock %}
